.centerText {
    text-align: center;
    align-items: center;
}

.image {
    display:ruby;
    align-items: center;

}
.maincontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pageheader {
    text-align: center;
}