.container{
    border: 5px solid pink;
    display: flex;
    flex-direction: column;
    margin: 10;
    max-width: 175px;
    max-height: 300px;
    align-items: center;
}
.container>p {
    word-break:break-all;
}
:hover.container{
    border: 5px solid rgb(223, 41, 71);
}

.containers{
    border: 5px solid pink;
    display: flex;
    flex-direction: column;
    margin: 10;
    max-width: 175px;
    max-height: 300px;
    align-items: center;
}
.containers>p {
    word-break:break-all;
}